
     <FlexboxLayout class="m-x-5" flexDirection="column" alignItems="center" justifyContent="space-around" [@state]="'in'" row="0">
          <Label class="h1 text-center font-weight-bold" textWrap="true" text="Рады приветствовать Вас!"></Label>
          <Image src="~/img/greeting.png" stretch="none"></Image>
          <Label class="h2 font-italic text-center" text="Для повышения качества услуг, просим Вас пройти опрос." textWrap="true"></Label>
          <Label class="h2 font-weight-bold text-center" text="Нажмите на экран чтобы продолжить" textWrap="true"></Label>-->

      </FlexboxLayout>
